
body{
    margin:0;

    max-width: 100vw;
    overflow-x: hidden;

}
.App {
 
    width:100svw;
    
    overflow-x: hidden;

    position: relative;
  
  
  }
  body:has( .safari-user) header{
      display: none !important; 
  }

  section{
    overflow-x: hidden;
    width:94.6svw;
    padding-inline: 2.7svw;
    height: 100vh;
    background-color:var(--background-color) !important;
    z-index: 1;
  
  }
  .more-active{
    background-color:var(--background-color) !important;
    min-height: 100vh;
  }
  .more-active .project-canvas{
    position: relative;
  }
  .overflow{
    overflow: hidden;
  }
  .project-canvas {
 
  
    position: fixed;
    top: 0;
    /* filter: blur(5px); */
    /* transform: scale(3); */
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    opacity: 1;
    /* transform: translateY(100vh); */

  }
  .more-active .project-canvas canvas{
    transform:  translateY(0vh) !important;
  }
  .more-active .threejs-background{
    transform:  translateY(0vh) !important;
    height: 100% !important;
    transform: scale(0.713) !important;
  }
  .project-canvas{
    transform: translateX(-75svw) !important;
  }
  .threejs-wrap:has(.louis-canvas){
    z-index: 20;
  }
  .louis-canvas canvas{
    transform: scale(1.15);

  }
  .title{
    text-transform: uppercase;
    margin:0;
    color:var(--primary-color)
  }
  .portfolio-page-container{
    background-color: var(--background-color);
  }
 

.cursor {
  pointer-events: none;

     
} 

.cursor__ball, .cursor {
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode:difference;
  z-index: 9999;
  overflow: visible;
  backdrop-filter: blur(100px);
  clip-path:url('/public/AppItems/Subtract.svg');
}  
.cursor__ball svg, .cursor svg{
  overflow: visible;
}
.cursor__ball circle, .cursor circle {
  fill: #f0b441;
  transform-origin: center center;
  transition: 700ms cubic-bezier(0.76, 0, 0.24, 1);
  

}

.App:not(.scrolled) .loading-numbers{
  display: flex !important;
}
body:has(a:hover) circle, body:has(.hoverable:not(.active):hover) circle{
  scale: 3;

}

.cursor__ball{

}
.mousedown .cursor__ball circle, .mousedown .cursor circle{
  scale: 10;
}
